body
{
    font-size: 25px;
    color:#000 ;
    font-family: 'Nerko One', cursive;   
}
#header-nav
{
    background-color: black;
    border-radius: 0;
    border: 0;
}
.navbar-brand
{
    padding-top: 25px;
    font-size: 30px;
    padding: 20px;
    padding-left: 30px;
    margin: 5px;
}
#nav-list
{
    text-align: center;
}
h2
{
    text-align: center;
    margin-top: 0;
}
h1
{
    margin-bottom: 30px;
}
#text
{
    background-color: gray;
    padding: 20px;
    margin: 20px;
}
span
{
    color: white;
}